@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Lato", sans-serif;
}
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6, p, li, a {
    margin: 0;
}

/* header  */
.header {
    min-width: 1440px;
    width: 100%;
    height: 782px;
    background-image: url(../img/Bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header__inner {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__left {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header__left-img {
}
.header__left-p {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}
.header__mid {
    display: flex;
    gap: 20px;
}
.header__mid-a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    transition: .2s;
}
.header__mid-a:hover {
    opacity: 80%;
}
.header__right {
    display: flex;
}
.header__right-a {
    width: 100px;
    height: 40px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 6px;
    background-color: none;
    padding-top: 10px;
    transition: .2s;
}
.header__right-a:hover {
    background-color: #fff;
    color: #ed4c5c;
}
.header-h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 72px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding-top: 166px;
}
.header-p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    text-align: center;
    max-width: 540px;
    margin: 0 auto;
    padding-top: 38px;
}
.header-a {
    display: block;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding-top: 15px;
    padding-right: 6px;
    border: 1px solid #fff;
    border-radius: 6px;

    border-radius: 6px;
    width: 160px;
    height: 50px;
    background-color: none;
    margin: 57px auto 0;
    transition: .2s;
}
.header-a:hover {
    background-color: #fff;
    color: #ed4c5c;
}

/* video-section */
.video-section {
}
.video-section__inner {
    display: flex;
    gap: 125px;
    padding-top: 125px;
}
.video-section-left {
}
.video-section-left-h2 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 36px;
    color: #000;
    max-width: 445px;
}
.video-section-left-p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #000;
    max-width: 445px;
    padding-top: 45px;
    padding-bottom: 16px;
}
.video-section-left-a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #ed4c5c;
    text-decoration: none;
    transition: .2s;
}
.video-section-left-a:hover {
    opacity: 70%;
}
.video-section-right {
    margin-top: -31px;
}
.video-section-right-img {
}

/* overview */
.overview {
    min-width: 1440px;
    width: 100%;
    height: 660px;
    background-color: #fafafa;
    margin-top: 91px;
}
.overview__inner {
    padding-top: 62px;
}
.overview-h2 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    color: #000;
}
.overview-cards {
    display: flex;
    padding-top: 76px;
    gap: 30px;
}
.overview-card {
    border-radius: 8px;
    width: 350px;
    height: 250px;
    position: relative;
    z-index: 0;
}
.overview-card:nth-child(1) {
    background-image: url(../img/overview1.png);
}
.overview-card:nth-child(2) {
    background-image: url(../img/overview2.png);
}
.overview-card:nth-child(3) {
    background-image: url(../img/overview3.png);
}
.overview-mini-card {
    border-radius: 8px;
    width: 293px;
    height: 198px;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 157px;
    left: 29px;

}
.overview-card-h5 {
    padding-top: 26px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #101010;
    max-width: 229px;
    margin: 0 auto;
    padding-bottom: 17px;
}
.overview-card-p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #101010;
    max-width: 229px;
    margin: 0 auto;
}
.overview-card-a {
    display: block;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #ed4c5c;
    text-decoration: none;
    transition: .2s;
    margin: 0 auto;
    padding-top: 15px;
}
.overview-card-a:hover {
    opacity: 70%;
}
