@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Lato", sans-serif;
}
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
}
.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6, p, li, a {
    margin: 0;
}

/* header  */
.header {
    min-width: 1440px;
    width: 100%;
    height: 782px;
    background-image: url(../img/Bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header__inner {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__left {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header__left-img {
}
.header__left-p {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}
.header__mid {
    display: flex;
    gap: 20px;
}
.header__mid-a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    transition: .2s;
}
.header__mid-a:hover {
    opacity: 80%;
}
.header__right {
    display: flex;
}
.header__right-a {
    width: 100px;
    height: 40px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 6px;
    background-color: none;
    padding-top: 10px;
    transition: .2s;
}
.header__right-a:hover {
    background-color: #fff;
    color: #ed4c5c;
}
.header-h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 72px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding-top: 166px;
}
.header-p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    text-align: center;
    max-width: 540px;
    margin: 0 auto;
    padding-top: 38px;
}
.header-a {
    display: block;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding-top: 15px;
    padding-right: 6px;
    border: 1px solid #fff;
    border-radius: 6px;

    border-radius: 6px;
    width: 160px;
    height: 50px;
    background-color: none;
    margin: 57px auto 0;
    transition: .2s;
}
.header-a:hover {
    background-color: #fff;
    color: #ed4c5c;
}

/* video-section */
.video-section {
    width: 100%;
}
.video-section__inner {
    display: flex;
    gap: 125px;
    padding-top: 125px;
    margin: 0 auto;
    width: 100%;
}
.video-section-left {
}
.video-section-left-h2 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 36px;
    color: #000;
    max-width: 445px;
}
.video-section-left-p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #000;
    max-width: 445px;
    padding-top: 45px;
    padding-bottom: 16px;
}
.video-section-left-a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #ed4c5c;
    text-decoration: none;
    transition: .2s;
}
.video-section-left-a:hover {
    opacity: 70%;
}
.video-section-right {
    margin-top: -31px;
}
.video-section-right-img {
}

/* overview */
.overview {
    min-width: 1440px;
    width: 100%;
    height: 660px;
    background-color: #fafafa;
    margin-top: 91px;
}
.overview__inner {
    padding-top: 62px;
}
.overview-h2 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    color: #000;
}
.overview-cards {
    display: flex;
    padding-top: 76px;
    gap: 30px;
}
.overview-card {
    border-radius: 8px;
    width: 350px;
    height: 250px;
    position: relative;
    z-index: 0;
}
.overview-card:nth-child(1) {
    background-image: url(../img/overview1.png);
}
.overview-card:nth-child(2) {
    background-image: url(../img/overview2.png);
}
.overview-card:nth-child(3) {
    background-image: url(../img/overview3.png);
}
.overview-mini-card {
    border-radius: 8px;
    width: 293px;
    height: 198px;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 157px;
    left: 29px;

}
.overview-card-h5 {
    padding-top: 26px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #101010;
    max-width: 229px;
    margin: 0 auto;
    padding-bottom: 17px;
}
.overview-card-p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #101010;
    max-width: 229px;
    margin: 0 auto;
}
.overview-card-a {
    display: block;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #ed4c5c;
    text-decoration: none;
    transition: .2s;
    margin: 0 auto;
    padding-top: 15px;
}
.overview-card-a:hover {
    opacity: 70%;
}

/* feautures  */
.features-section {
}
.features-section__inner {
    padding-top: 62px;
}
.features-section-h2 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    color: #000;
}
.features-section-items {
    display: flex;
    /* align-items: center; */
    gap: 30px;
}
.features-section-item {
    width: 255px;
    /* height: 226px; */
    text-align: center;
}
.features-section-item:nth-child(1) .features-section-item-num {
    margin-bottom: -62px;
}
.features-section-item:nth-child(2) .features-section-item-num {
    margin-bottom: -55px;
}
.features-section-item:nth-child(1) .features-section-item-h6 {
    padding-top: 0px;
}
.features-section-item:nth-child(2) .features-section-item-h6 {
    padding-top: 4px;
}
.features-section-item:nth-child(1) .features-section-item-img {
    margin-bottom: -3px;
}
.features-section-item-num {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 100px;
    text-align: center;
    color: rgba(16, 16, 16, 0.08);
    margin-top: 65px;
    margin-bottom: -50px;
}
.features-section-item-img {
    align-self: center;
}
.features-section-item-h6 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #101010;
    padding-top: 12px;
}
.features-section-item-p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #000;
    max-width: 191px;
    margin: 0 auto;
    padding-top: 10px;
    margin-left: 34px;
}
/* app  */
.app {
    margin-top: 130px;
    min-width: 1440px;
    width: 100%;
    height: 500px;
    background-color: #ed4c5c;
}
.app__inner {
    display: flex;
    gap: 125px;
    padding-top: 93.5px;
}
.app__left {
}
.app__left-h2 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 36px;
    color: #fff;
    max-width: 445px;
    padding-top: 26px;
}
.app__left-p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #fff;
    max-width: 445px;
    padding-top: 48px;
}
.app__left-logos {
    display: flex;
    padding-top: 45px;
    align-items: center;
    gap: 21px;
}
.app-logos-a {
    text-decoration: none;
    transition: .2s;
}
.app-logos-a:hover {
    opacity: 70%;
}

/* contact-us */
.contact-us {
}
.contact-us__inner {
    display: flex;
    gap: 125px;
    padding-top: 182px;
    padding-left: 11px;
}
.contact-us-left {
}
.contact-us-h2 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 36px;
    color: #000;
}
.contact-us-p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #000;
    width: 434px;
    padding-top: 55px;
}
.contact-us-right {
    margin-top: -23px;
}
.contact-us-form {

}
.contact-us-input {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: rgba(19, 39, 67, 0.5);

    border: 1px solid #333;
    border-radius: 6px;
    width: 540px;
    height: 60px;
    margin-bottom: 24px;
    padding-left: 30px;
}
.contact-us-a {
    display: block;
    border: 1.50px solid #ed4c5c;
    border-radius: 6px;
    width: 160px;
    height: 50px;
    background-color: #ed4c5c;
    text-decoration: none;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    transition: .2s;
    padding-left: 38px;
    padding-top: 15px;
}
.contact-us-a:hover {
    opacity: 70%;
}

/* footer  */
.footer {
    min-width: 1440px;
    width: 100%;
    height: 245px;
    background-color: #fafafa;
    margin-top: 135px;
}
.footer__inner {
    padding-top: 44px;
    margin-left: 3px;
}
.footer__inner-h4 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    color: #101010;
}
.footer__inner-p {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #101010;
    max-width: 174px;
    padding-top: 19px;
}
.footer__inner-pp {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 12px;
    color: #101010;
    padding-top: 44px;
}

/* media  */
@media screen and (max-width:1440px) {
    .video-section__inner {
        margin-left: 10vw;
    }
    .video-section {
        margin: 0 auto;
    }
    .features-section__inner {
        margin-left: 15vw;
    }
    .features-section-item-p {
        margin-left: 0;
    }

}
@media screen and (max-width:1210px) {
    .header__left-img {
        width: 60px;
    }
    .header__left-p {
        font-size: 4vw;
    }
    .header-a {
        width: 200px;
        height: 70px;
        padding-top: 25px;
    }
    .contact-us__inner {
        margin-left: 20vw;
    }
    
}
@media screen and (max-width:1024px) {
    .video-section__inner {
        margin-left: 25vw;
        gap: 200px;
    }
    .video-section-left-p {
        max-width: 900px;
    }
    .overview-cards {
        flex-wrap: wrap;
    }

    .features-section-items {
        column-gap: 160px;
    }
    .features-section-h2 {
        margin-left: 40vw;
    }
}
@media screen and (max-width:900px) {
    .video-section__inner {
        flex-wrap: wrap;
        justify-content: center;
        gap: 140px;
        margin-left: 40vw;
    }
    .video-section-left-p {
        font-size: 24px;
    }
    .video-section-left-a {
        font-size: 20px;
    }
    .video-section-left-h2 {
        font-size: 38px;
    }
    .video-section-right-img {
        width: 800px;
    }

    
}
@media screen and (max-width:630px) {
    .video-section__inner {
        margin-left: 70vw;
    }
    .video-section-left-p {
        width: 800px;
    }
    .features-section-h2 {
        margin-left: 70vw;
    }
    .features-section__inner {
        margin-left: 40vw;
    }

}
@media screen and (max-width:413px) {
    .video-section__inner {
        margin-left: 120vw;
    }
} 
@media screen and (max-width:410px) {
    .video-section__inner {
        margin-left: 110vw;
    }
}
@media screen and (max-width:371px) {
    .header {
        min-width: 280px;
        width: 400vw;
    }
    .header__inner {
        justify-content: space-evenly;
    }
    .overview {
        min-width: 280px;
        width: 400vw;
    }
    .overview-card {
        width: 300px;
    }
    .overview-cards {
        margin-left: 30vw;
    }
    .app {
        min-width: 280px;
        width: 400vw;
    }
    .app__inner {
        margin-left: 20vw;
    }
    .contact-us-input {
        width: 440px;
    }
}